out
node_modules
.vscode-test/
.vsix
.vs
client.json
/syntaxes/How to write a Visual Studio Code color theme from scratch.url
/syntaxes/Togusa09-vscode-tmlanguage- Syntax highlighting for TextMate-SublimeText laguage definitions.url
